@CHARSET "UTF-8";

.clearfloat {
	clear: both;
}

.resizable {
	float: left; /* trigger shrinkwrap */
	padding: 10px;
	border: 1px solid black;
	position: relative;
	width: 250px;
	height: 250px;
}

#numMinesLabel {
	float: left;
}

#numMinesDisplay {
	float: left;
}

#numMinesSlider {
	float: left;
	position: relative;
	height: 1em;
	width: 10em;
	margin-left: 0.5em;
}

#flagsLeftLabel, #timeTakenLabel, #numMinesLabel {
	padding-right: 0.25em;
}

#board {
	width: 100%;
	height: 100%;
}

table.minesweeper {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: 0px;
	border-collapse: separate;
	border-spacing: 0;
	empty-cells: show;
	/* table-layout: fixed; */
}

table.minesweeper tr {
	overflow: hidden;
	text-overflow: clip;
}

table.minesweeper td {
	padding: 0;
	margin: 0;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	text-overflow: clip;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	border-width: 2px;
	font-weight: bold;
}

table.minesweeper td.unrevealed {
	border-style: outset;
	border-color: white;
	background-color: #CCCCCC;
}

table.minesweeper.enabled td.unrevealed {
	cursor: pointer;
}

.svg table.minesweeper td.unrevealed.flag {
	background-image: url("flag.svg");
}

.no-svg table.minesweeper td.unrevealed.flag {
	background-image: url("flag.png");
}

table.minesweeper td.unrevealed.flag.correct {
	border-color: green;
}

table.minesweeper td.unrevealed.flag.incorrect {
	border-color: red;
}

table.minesweeper td.revealed {
	border-style: solid;
	border-color: #999999;
	background-color: #AAAAAA;
}

table.minesweeper td.revealed span {
	cursor: default;
}

table.minesweeper td.revealed span.mines0 {
}

table.minesweeper td.revealed span.mines1 {
	color: blue;
}

table.minesweeper td.revealed span.mines2 {
	color: green;
}

table.minesweeper td.revealed span.mines3 {
	color: red;
}

table.minesweeper td.revealed span.mines4 {
	color: aqua;
}

table.minesweeper td.revealed span.mines5 {
	color: fuchsia;
}

table.minesweeper td.revealed span.mines6 {
	color: yellow;
}

table.minesweeper td.revealed span.mines7 {
	color: #FF6666;
}

table.minesweeper td.revealed span.mines8 {
	color: maroon;
}

.svg table.minesweeper td.revealed.mine {
	background-image: url("mine.svg");
}

.no-svg table.minesweeper td.revealed.mine {
	background-image: url("mine.png");
}
